@model u21487822_HW06.Models.product

@{ ViewBag.Title = "Edit"; }

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">CLOSE</button>
    <h3 class="modal-title">Edit Product</h3>
</div>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.product_id)

                    <div class="form-group">
                        @Html.Label("Name", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Brand", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("brand_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.brand_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Category", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Year", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.model_year, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.model_year, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("List Price", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.list_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.list_price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Update" />
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>}


